<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Crear/Editar Obra de Arte - Vende tu Arte</title>
    <style>
        body {
            background-color: #f7ccda; /* Color pastel */
        }
    </style>
</head>
<body>
    <h1>Crear/Editar Obra de Arte</h1>

    <form method="post" enctype="multipart/form-data" action="{% url 'crear_editar_pieza' %}">
        {% csrf_token %}
        {{ form.as_p }}
        <button type="submit">Guardar</button>
    </form>
</body>
</html>