<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Acerca de Nosotros - Vende tu Arte</title>
    <style>
        body {
            background-color: #e4f7e4; /* Color pastel */
        }
    </style>
</head>
<body>
    <h1>Acerca de Nosotros</h1>
    <p>Queremos darle un espacio a todos los artistas, por eso creamos esta plataforma virtual para que todos los artistas puedan compartir y vender su arte de manera sencilla y fácil.</p>
</body>
</html>